<apex:page controller="SearchController">
<apex:form >
<apex:pageBlock >
<apex:inputtext value="{!sobjects}" >
<apex:actionSupport event="onchange"/>
</apex:inputtext>
<apex:pageblockTable value="{!searchtest}" var="sea">
<apex:column >
{!sea}
</apex:column>

</apex:pageblockTable>
</apex:pageBlock>
</apex:form>
</apex:page>